body {
    background-color: white;
}

#title {
    background-color: white;
    margin-left: 2%;
    width: 60%;
    text-align: center;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#bouton {
    background-color: white;
    margin-left: 5%;
    width: 300px;
    height: 70px;
    display: inline-block;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#bouton2 {
    padding-left: 19%;
    margin-bottom: -20%;
    justify-content: center;
}

#slider {
    background-color: white;
    z-index: 100000;
    width: 600px;
    margin-bottom: 30px;
    margin-left: 2%;
    padding-left: 10px;
    padding-bottom: 5px;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
    display: inline-block;
}

#indicators {
    display: inline-block;
    width: 100%;
    margin-left: 3%;
}


#nb_student_title {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 40px;
    text-align: center;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#student_percentage_title {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 40px;
    text-align: center;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#school_percentage_title {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 40px;
    text-align: center;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#nb_school_title {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 30%;
    text-align: center;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#histogram2 {
    margin-left: -2.5%;
    height: 453px;
    background-color: white;
    width: 85.5%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #1c1a19;
}

#pie_chart2 {
    margin-left: -2.5%;
    background-color: white;
    margin-top: 34px;
    height: 400px;
    width: 85.5%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#nb_student2 {
    background-color: white;
    margin-left: 18%;
    margin-right: 34px;
    padding-bottom: -30px;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#student_percentage2 {
    background-color: white;
    margin-left: 18%;
    margin-right: 34px;
    padding-bottom: -30px;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#school_percentage2 {
    background-color: white;
    margin-left: 18%;
    margin-right: 34px;
    padding-bottom: -30px;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#nb_school2 {
    background-color: white;
    margin-left: 18%;
    margin-right: 34px;
    padding-bottom: -30px;
    width: 90%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#map{
    height: 925px;
    width: 96%;
    margin-left: 2%;
    margin-top: 15px;
}

#map2{
    background-color: white;
    height: 960px;
    width: 85.5%;
    margin-left: 16.5%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
}

#histogram_title {
    margin-left: -2.5%;
    width: 85.5%;
    background-color: white;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius:10px;
    text-align: center;
}

#pie_chart_title {
    margin-left: -2.5%;
    width: 85.5%;
    background-color: white;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -10px;
}

#map_title{
    background-color: white;
    width: 85.5%;
    margin-left: 16.5%;
    box-shadow: 4px 4px 10px #1c1a19;
    border-radius: 10px;
    text-align: center;
}

#left{
    height: 1050px;
    width: 47%;
    float: left;
}

#right{
    height: 1050px;
    width: 47%;
    float: right;
}

#map_histo_pie {
    margin-top: 30px;
}